.containBar{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-items: stretch;
   
   
}

.centerContainer {
    flex-grow: 10;
 width: 50%;

}
.leftContainer{
    flex-grow: 4;
    margin-left: 2rem;
}
.rightContainer{
    flex-grow: 4;
    margin-right: 2rem;
  
}