

.Header{
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
}

.navbar{
    background-color:rgba(4, 14, 41, 0.867);
    padding: 10px;
    height: 40px;
    border-bottom: 1px solid rgb(211, 211, 211);
overflow: hidden;


}

input {
    padding: 5px;
    border: 1px solid rgb(223, 223, 223);
    width: 50%;
    margin-top: 5px;
    

}